
.head h2{
    text-align: center;
    padding-top: 1.5rem;
}
.head button{
    margin-left: 12rem;
    margin-bottom: 0.5rem;
    height: 2rem;
}
.Main-table{
    
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(224, 229, 227);
    
    
    
}
 .icon {
    display: none;
  }

thead{ 
    background-color: black;
    color: white;
    
    
}
th{
    padding:1rem;
}
td{
    width: 12rem;
    height: 4rem;
    padding:1rem;
    
}
.dbtn{
background-color: red;
}
.ubtn{
    background-color: green;
}


@media  screen and (max-width:800px ){

    .head button{
        margin-left: 1rem;
        height: 1.5rem;
    }
    .dbtn ,.ubtn{
        display: none;
    }
    .Main-table  th,td{
        padding: 0;
        font-size: 6.3px;
        height: max-content;
    }
        
    .icon{
        display: block;
        text-align: center;
        font-size: larger;
        color: black;
      }
      .modal-content {
        margin-top: 7rem;
        margin-left:auto ;
        margin-right: auto;
        width: 90%;
        max-width: 400px;
      }
}
